<html>

<head>
    <title>FoodMall Management Software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
</head>

<body>

    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/"><b>FoodMall<br>Software</b></a></li>
                <li>
                    <a href="/student">Student</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/student/new">Add Student</a></li>
                            <li><a href="/student">Show Students</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="/item">Item</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/item/new">Add Item</a></li>
                            <li><a href="/item">Show Items</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/waiter">Waiter</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/waiter/new">Add Waiter</a></li>
                            <li><a href="/waiter">Show Waiters</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/chef">Chef</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/chef/new">Add Chef</a></li>
                            <li><a href="/chef">Show Chefs</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/table">Manage Tables</a></li>
                <li>
                    <a href="/order">Orders</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/order/new">Add Order</a></li>
                            <li><a href="/order">Show Orders</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/feedback">Feedback</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/feedback/new">Add Feedback</a></li>
                            <li><a href="/feedback">Show Feedbacks</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
    <div class="uk-container">